



@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/type.scss";





@import "~bootstrap/scss/bootstrap";

.btn {
    border-radius: 0px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

a.active {
    color: black;
}

img {
    width: 100%;
}
