body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.introimage {
  background-image: url('images/susie_art_home_intro.png');
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.introtext {
  height: 30vh;
  top: 25%;
  position: relative;
}

.introproducts {
  background-image: url('images/products_intro.png');
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.introproductstext {
  height: 30vh;
  top: 25%;
  position: relative;
}

.about1 {
  background-image: url('images/about_1.jpg');
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.about2 {
  background-image: url('images/about_2.jpg');
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.susielogo {
  background-image: url('images/susie_wang_art_logo.png');
  background-size: cover;
  height: 55vh;
  width: 100%;
}

.nooutline {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 3px 3px 3px 12px;
  border-radius: 0px;
}

.nooutline:focus {
  border-radius: 0px;
  outline: none;
}

.nooutline:active {
  border-radius: 0px;
}

.nooutline:hover {
  border: 1px solid black;
}

.nooutline::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.nooutline:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.nooutline::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
